---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="py-12 px-4">
    <h1 class="text-2xl font-bold text-center text-primary">Proyectos</h1>
    <p class="text-center mt-4">Aquí irá un carrusel mostrando mis distintos proyectos.</p>
  </section>
</Layout>