---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="py-12 px-4">
    <h1 class="text-2xl font-bold text-center text-primary">Proyectos</h1>
    <p class="text-center mt-4"> 
      num: "01",
      category: "frontend",
      title: "Sí, voy",
      description:
        "Real project in which I contributed to the implementation of dynamic and responsive interfaces, actively participating in the design and coding of an inclusive UX/UI for users with diverse disabilities.",
      stack: [
        name: "TypeScript" ,
        name: "Next.js",
        name: "Tailwind.css",
        name: "Figma" ,
        name: "Vercel" ,
      ],
      image: "/assets/work/si-voy.png",
      alt: "Sí, voy",
      demo: "https://www.youtube.com/watch?v=73N9lGJr55I",
      github: "https://github.com/sivoyweb/Front",

      num: "02",
      category: "frontend",
      title: "Jobs&Wozniak",
      description:
        "A fictional Apple product e-commerce site where users can add and remove products from the cart, proceed to checkout, log in and out of their accounts, and view their user information and purchase history.",
      stack: [
        name: "TypeScript",
        name: "Next.js",
        name: "Tailwind.css",
        name: "Figma" ,
        name: "Vercel" ,
      ],
      image: "/assets/work/jobs-wozniak.png",
      alt: "Jobs&Wozniak",
      live: "https://jobs-wozniak-e-commerce.vercel.app/",
      github: "https://github.com/bperezdearce/jobs_wozniak_ecommerce",
      num: "03",
      category: "fullstack",
      title: "Domenica",
      description:
        "Development of an app that functions as a reservation manager for customers of a fictional restaurant called Domenica. The users can make and delete reservations, and the app will update the database accordingly.",
      stack: [
        name: "Html 5",
        name: "Css 3",
        name: "Javascript",
        name: "TypeScript",
        name: "React",
        name: "Redux",
        name: "Vite",
        name: "Express",
        name: "Node.js",
        name: "PostgreSQL",
        name: "Vercel",
      ],
      image: "/assets/work/domenica.png",
      alt: "Domenica",
      live: "https://domenica-git-main-bperezdearces-projects.vercel.app/",
      github: "https://github.com/bperezdearce/domenica",
      num: "04",
      category: "fullstack",
      title: "LatinoMedia",
      description:
        "Development of an app that works as a catalog for Latin American movies. Users of the app can add movies through a form, and the app will add them to the database and display the movies on the main page.",
      stack: [
        name: "Html 5",
        name: "Css 3",
        name: "Javascript",
        name: "Bootstrap",
        name: "Express",
        name: "Node.js",
        name: "MongoDB",
        name: "Mongoose",
      ],
      image: "/assets/work/latinomedia.png",
      alt: "LatinoMedia",
      live: "",
      github: "https://github.com/bperezdearce/latinomedia",
    </p>
  </section>
</Layout>