@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --font-playwrite: 'Playwrite IT Moderna';
    --color-primary: oklch(34.04% 0.2205 264.36);
    --color-secondary: oklch(67.47% 0.2042 14.62);
}