---
import Layout from "../layouts/Layout.astro";

const education = [
{
  title: "React Native Certificate",
  institution: "Meta",
  year: "2025"
},
{
  title: "Full Stack Development",
  institution: "Henry",
  year: "2024"
},
{
  title: "Sociología",
  institution: "Universidad de Chile",
  year: "2010 - 2014"
}
]
---


<Layout>
  <section class="py-8 px-4 md:px-6 lg:px-8 max-w-6xl mx-auto">
    <div class="text-center mb-16">
      <h1 class="text-5xl text-primary font-bold font-playwrite text-center">Educación</h1>
    </div>
    {education.map(({title, institution, year}) => (
    <div class="grid md:grid-cols-2 gap-8 mb-16 border-b border-black/10 pb-16">
      <div>
        <h2 class="text-2xl mb-8 font-bold text-primary">{title}</h2>
        <div class="space-y-1 text-2xl font-bold text-secondary"><p>{institution}</p></div>
      </div>
      <div>
        <h1 class="text-2xl font-bold text-primary md:text-right">
          {year}
        </h1>
      </div>
    </div>
    )
    )}
  </section>
</Layout>
