---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="py-8 px-4 md:px-6 lg:px-8 max-w-6xl mx-auto">
    <div class="text-center mb-16">
      <h1 class="text-5xl text-primary font-bold font-playwrite text-center">Educación</h1>
    </div>
    <div class="grid md:grid-cols-2 gap-8 mb-16 border-b border-black/10 pb-16">
      <div>
        <h2 class="text-3xl mb-8 font-bold text-primary">React Native Certificate</h2>
        <div class="space-y-1 text-xl font-bold text-secondary"><p>Meta</p></div>
      </div>
      <div>
        <h1 class="text-3xl font-bold text-primary text-right">
          2025
        </h1>
      </div>
    </div>
    <div class="grid md:grid-cols-2 gap-8 mb-16 border-b border-black/10 pb-16">
      <div>
        <h2 class="text-3xl mb-8 font-bold text-primary">Full Stack Development</h2>
        <div class="space-y-1 text-xl font-bold text-secondary"><p>Henry</p></div>
      </div>
      <div>
        <h1 class="text-3xl font-bold text-primary text-right">
          2024
        </h1>
      </div>
    </div>
    <div class="grid md:grid-cols-2 gap-8 mb-16 border-b border-black/10 pb-16">
      <div>
        <h2 class="text-3xl mb-8 font-bold text-primary">Sociología</h2>
        <div class="space-y-1 text-xl font-bold text-secondary">Universidad de Chile</p></div>
      </div>
      <div>
        <h1 class="text-3xl font-bold text-primary text-right">
          2010 - 2014
        </h1>
      </div>
    </div>
  </section>
</Layout>
